---

- name: ensure nginx is at the latest version
  package: name=nginx state=latest

- name: remove default site
  file:
    path: "{{ item }}"
    state: absent
  with_items:
    - /etc/nginx/sites-enabled/default
    - /etc/nginx/sites-available/default

- name: generate nginx site configuration
  template:
    src: "{{ site.template }}"
    dest: /etc/nginx/sites-available/{{ item.key }}.conf
  vars:
    site: "{{ item.value }}"
  with_dict: "{{ khaos.nginx.site }}"
  tags:
   - configuration

- name: enable nginx sites
  file:
    src: /etc/nginx/sites-available/{{ item.key }}.conf
    dest: /etc/nginx/sites-enabled/{{ item.key }}.conf
    state: link
  with_dict: "{{ khaos.nginx.site }}"
  tags:
   - configuration


